// Color Variables
$yellow: #f7ec09;
$red: #f05454;
$green: #5bbf6c;

$primary: #282c35;
$primary-dark: #1b1e24;
$primary-light: #484f5f;

$light: #f0f1f4;
$accent: #e6ad60;

$var-red: #b35865;
$var-purple: #8d6595;

// Transition Variables
$transition-speed: 600ms;

$border-radius: 0.25rem;
